config NUBIA_SENSORS_FP_GF5288_LEFT
	tristate "nubia sensors fp gf5288(left)"
	default n
	help
	  This is the main file for fingerprint driver for gf5288.
	  Say Y here if you have a gf5216m fingerprint connected
	  to your system.

config NUBIA_SENSORS_FP_GF5288_RIGHT
	tristate "nubia sensors fp gf5288(right)"
	default n
	help
	  This is the main file for fingerprint driver for gf5288.
	  Say Y here if you have a gf5216m fingerprint connected
	  to your system.

